<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questions</title>
</head>
<body>
    <form action="/story">
        {% for prompt in prompts %}
        <p>{{ prompt }}
            <input name="{{ prompt }}">
        </p>
        {% endfor %}
        <button>submit</button>
    </form>
    <main id="content">
        {% with message = get_flashed_message(with_categories=true) %}
        {% if messages %}
        <section class="messages">
            {% for category, msg in messages %}
            <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </main>
</body>
</html>